@layer tailwind {
    @tailwind base;

    /*
    Reverts Tailwind preflight for Tiptap
     */
    .tiptap * {
        all: revert;
    }

    .tiptap a {
        @apply underline text-brand-4
    }
}

@tailwind components;
@tailwind utilities;

:root {
    --text-color: #FFFFFF;

    @mixin dark-root {
        --mantine-color-text: var(--text-color);
        --mantine-color-body: #191919;
    }
}
