@layer tailwind {
    @tailwind base;

    /*
    Reverts Tailwind preflight for Tiptap
     */
    .tiptap * {
        all: revert;
    }

    .tiptap a {
        @apply underline text-brand-4
    }
}


@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Roboto;
    src: url("/font/Roboto-Variable.ttf");
}

:root {
    --ion-padding: var(--mantine-spacing-xs) !important;
    --ion-font-family: Roboto, Roboto Fallback;
    --ion-text-color: var(--mantine-color-text) !important;
    --ion-background-color: #191919 !important;
    --ion-toolbar-background: #191919 !important;
    --ion-modal-background: #191919 !important;

    @mixin dark-root {
        --mantine-color-body: #191919;
    }
}



ion-tab-button:not(.tab-selected) {
    --color-selected: var(--color);
}

